.news {
    border: 1px solid white;
    border-radius: .5rem;
    margin: 1.5rem 1rem;
    padding: 1rem
}

.news h2 {
    color: #fb923c;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
}

.news li{
    margin:1rem 0
}

.news {
    margin: 1rem 0
}